- var headObject = { title: "hros_screening", description: "HROPEN Standards Screening Workgroup"}
- var pathObject = { currentPage: "home" }
doctype html
include includes/mixins
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title HROS Screening - JSchema
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    //- link(rel='stylesheet', href='style.css') 
    script(type='text/javascript').
      function resizeIframe(obj) {
      var h = window.innerHeight;
      var w = window.innerWidth;
      // console.log('w:', w);
      obj.style.height = 0;
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
      obj.style.width = 1200 + 'px';
      //  obj.style.width = obj.contentWindow.document.body.scrollWidth + 'px';
      }
      function loadScreeningType() {
      var newUrl =
      'JSchema/index.htm?#schema=http://screening.hrsres.com:8008/schema/screening/json/ScreeningType.json';
      document.getElementById('iframeID').src = newUrl;
      }
  body
    header#top-nav
      +navBar(pathObject)

    hr
    .container.main-content(style='margin-top: 40px;')
      .row
        .col-md-4
          h4 As of 2018-05-09
      .row.well
        .col-md-4
          p Here are your instructions to use the JSchema visualization tool:
        .col-md-8
          div
            p.text-muted
              span.badge 1
              |  Load the schema:
              a(target='_new', onclick='loadScreeningType()') ScreeningType.json
            p.text-muted
              span.badge 2
              |  Click on Validate.
            p.text-muted
              span.badge 3
              |  Drag a sample file from your file system onto the text area for a JSON instance. Then click on the yellow Process button.
      .row
        .col-md-12
          iframe#iframeID(src='JSchema/index.htm', frameborder='0', onload='resizeIframe(this)')
    include includes/footer
