<ul class="chosen-results">
    <li class="active-result" data-option-array-index="2" style="">(GMT-11:00) Midway Island, American Samoa</li>
    <li class="active-result" data-option-array-index="3" style="">(GMT-10:00) Aleutian Islands</li>
    <li class="active-result" data-option-array-index="4" style="">(GMT-10:00) Hawaii</li>
    <li class="active-result" data-option-array-index="5" style="">(GMT-09:30) Marquesas Islands</li>
    <li class="active-result" data-option-array-index="6" style="">(GMT-09:00) Alaska</li>
    <li class="active-result" data-option-array-index="7" style="">(GMT-08:00) Baja California</li>
    <li class="active-result" data-option-array-index="8" style="">(GMT-08:00) Pacific Time (US and Canada)</li>
    <li class="active-result" data-option-array-index="9" style="">(GMT-07:00) Arizona</li>
    <li class="active-result" data-option-array-index="10" style="">(GMT-07:00) Chihuahua, La Paz, Mazatlan</li>
    <li class="active-result" data-option-array-index="11" style="">(GMT-07:00) Mountain Time (US and Canada)</li>
    <li class="active-result" data-option-array-index="12" style="">(GMT-06:00) Central America</li>
    <li class="active-result" data-option-array-index="13" style="">(GMT-06:00) Central Time (US and Canada) </li>
    <li class="active-result" data-option-array-index="14" style="">(GMT-06:00) Easter Island</li>
    <li class="active-result" data-option-array-index="15" style="">(GMT-06:00) Guadalajara, Mexico City, Monterrey</li>
    <li class="active-result" data-option-array-index="16" style="">(GMT-06:00) Saskatchewan</li>
    <li class="active-result" data-option-array-index="17" style="">(GMT-05:00) Bogota, Lima, Quito</li>
    <li class="active-result" data-option-array-index="18" style="">(GMT-05:00) Chetumal</li>
    <li class="active-result" data-option-array-index="19" style="">(GMT-05:00) Eastern Time (US and Canada)</li>
    <li class="active-result" data-option-array-index="20" style="">(GMT-05:00) Haiti</li>
    <li class="active-result" data-option-array-index="21" style="">(GMT-05:00) Havana</li>
    <li class="active-result" data-option-array-index="22" style="">(GMT-05:00) Indiana (East)</li>
    <li class="active-result" data-option-array-index="23" style="">(GMT-04:00) Asuncion</li>
    <li class="active-result" data-option-array-index="24" style="">(GMT-04:00) Atlantic Time (Canada)</li>
    <li class="active-result" data-option-array-index="25" style="">(GMT-04:00) Caracas</li>
    <li class="active-result" data-option-array-index="26" style="">(GMT-04:00) Cuiaba</li>
    <li class="active-result" data-option-array-index="27" style="">(GMT-04:00) Georgetown, La Paz, Manaus, San Juan</li>
    <li class="active-result" data-option-array-index="28" style="">(GMT-04:00) Santiago</li>
    <li class="active-result" data-option-array-index="29" style="">(GMT-04:00) Turks and Caicos</li>
    <li class="active-result" data-option-array-index="30" style="">(GMT-03:30) Newfoundland</li>
    <li class="active-result" data-option-array-index="31" style="">(GMT-03:00) Araguaina</li>
    <li class="active-result" data-option-array-index="32" style="">(GMT-03:00) Brasilia</li>
    <li class="active-result" data-option-array-index="33" style="">(GMT-03:00) Cayenne, Fortaleza</li>
    <li class="active-result" data-option-array-index="34" style="">(GMT-03:00) City of Buenos Aires</li>
    <li class="active-result" data-option-array-index="35" style="">(GMT-03:00) Greenland</li>
    <li class="active-result" data-option-array-index="36" style="">(GMT-03:00) Montevideo</li>
    <li class="active-result" data-option-array-index="37" style="">(GMT-03:00) Saint Pierre and Miquelon</li>
    <li class="active-result" data-option-array-index="38" style="">(GMT-03:00) Salvador</li>
    <li class="active-result" data-option-array-index="39" style="">(GMT-02:00) Fernando de Noronha</li>
    <li class="active-result" data-option-array-index="40" style="">(GMT-01:00) Azores</li>
    <li class="active-result" data-option-array-index="41" style="">(GMT-01:00) Cabo Verde Islands</li>
    <li class="active-result" data-option-array-index="42" style="">(GMT) Casablanca</li>
    <li class="active-result" data-option-array-index="43" style="">(GMT) Dublin, Edinburgh, Lisbon, London</li>
    <li class="active-result" data-option-array-index="44" style="">(GMT) Monrovia, Reykjavik</li>
    <li class="active-result" data-option-array-index="45" style="">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</li>
    <li class="active-result" data-option-array-index="46"
        style="">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</li>
    <li class="active-result" data-option-array-index="47"
        style="">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</li>
    <li class="active-result" data-option-array-index="48" style="">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</li>
    <li class="active-result" data-option-array-index="49" style="">(GMT+01:00) West Central Africa</li>
    <li class="active-result" data-option-array-index="50" style="">(GMT+01:00) Windhoek</li>
    <li class="active-result" data-option-array-index="51" style="">(GMT+02:00) Amman</li>
    <li class="active-result" data-option-array-index="52" style="">(GMT+02:00) Athens, Bucharest</li>
    <li class="active-result" data-option-array-index="53" style="">(GMT+02:00) Beirut</li>
    <li class="active-result" data-option-array-index="54" style="">(GMT+02:00) Cairo</li>
    <li class="active-result" data-option-array-index="55" style="">(GMT+02:00) Damascus</li>
    <li class="active-result" data-option-array-index="56" style="">(GMT+02:00) Gaza, Hebron</li>
    <li class="active-result" data-option-array-index="57" style="">(GMT+02:00) Harare, Pretoria</li>
    <li class="active-result" data-option-array-index="58" style="">(GMT+02:00) Helsinki, Kiev, Riga, Sofia, Tallinn, Vilnius</li>
    <li class="active-result" data-option-array-index="59"
        style="">(GMT+02:00) Jerusalem</li>
    <li class="active-result" data-option-array-index="60" style="">(GMT+02:00) Kaliningrad</li>
    <li class="active-result" data-option-array-index="61" style="">(GMT+02:00) Tripoli</li>
    <li class="active-result" data-option-array-index="62" style="">(GMT+03:00) Baghdad</li>
    <li class="active-result" data-option-array-index="63" style="">(GMT+03:00) Istanbul</li>
    <li class="active-result" data-option-array-index="64" style="">(GMT+03:00) Kuwait, Riyadh</li>
    <li class="active-result" data-option-array-index="65" style="">(GMT+03:00) Minsk</li>
    <li class="active-result" data-option-array-index="66" style="">(GMT+03:00) Moscow, St. Petersburg, Volgograd</li>
    <li class="active-result" data-option-array-index="67" style="">(GMT+03:00) Nairobi</li>
    <li class="active-result" data-option-array-index="68" style="">(GMT+03:30) Tehran</li>
    <li class="active-result" data-option-array-index="69" style="">(GMT+04:00) Abu Dhabi, Muscat</li>
    <li class="active-result" data-option-array-index="70" style="">(GMT+04:00) Astrakhan, Ulyanovsk</li>
    <li class="active-result" data-option-array-index="71" style="">(GMT+04:00) Baku</li>
    <li class="active-result" data-option-array-index="72" style="">(GMT+04:00) Izhevsk, Samara</li>
    <li class="active-result" data-option-array-index="73" style="">(GMT+04:00) Port Louis</li>
    <li class="active-result" data-option-array-index="74" style="">(GMT+04:00) Tbilisi</li>
    <li class="active-result" data-option-array-index="75" style="">(GMT+04:00) Yerevan</li>
    <li class="active-result" data-option-array-index="76" style="">(GMT+04:30) Kabul</li>
    <li class="active-result" data-option-array-index="77" style="">(GMT+05:00) Tashkent, Ashgabat</li>
    <li class="active-result" data-option-array-index="78" style="">(GMT+05:00) Ekaterinburg</li>
    <li class="active-result" data-option-array-index="79" style="">(GMT+05:00) Islamabad, Karachi</li>
    <li class="active-result" data-option-array-index="80" style="">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</li>
    <li class="active-result" data-option-array-index="81" style="">(GMT+05:30) Sri Jayawardenepura</li>
    <li class="active-result" data-option-array-index="82" style="">(GMT+05:45) Kathmandu</li>
    <li class="active-result" data-option-array-index="83" style="">(GMT+06:00) Astana</li>
    <li class="active-result" data-option-array-index="84" style="">(GMT+06:00) Dhaka</li>
    <li class="active-result" data-option-array-index="85" style="">(GMT+06:30) Yangon (Rangoon)</li>
    <li class="active-result" data-option-array-index="86" style="">(GMT+07:00) Novosibirsk</li>
    <li class="active-result" data-option-array-index="87" style="">(GMT+07:00) Bangkok, Hanoi, Jakarta</li>
    <li class="active-result" data-option-array-index="88" style="">(GMT+07:00) Barnaul, Gorno-Altaysk</li>
    <li class="active-result" data-option-array-index="89" style="">(GMT+07:00) Hovd</li>
    <li class="active-result" data-option-array-index="90" style="">(GMT+07:00) Krasnoyarsk</li>
    <li class="active-result" data-option-array-index="91" style="">(GMT+07:00) Tomsk</li>
    <li class="active-result" data-option-array-index="92" style="">(GMT+08:00) Beijing, Chongqing, Hong Kong SAR, Urumqi</li>
    <li class="active-result" data-option-array-index="93" style="">(GMT+08:00) Irkutsk</li>
    <li class="active-result" data-option-array-index="94" style="">(GMT+08:00) Kuala Lumpur, Singapore</li>
    <li class="active-result" data-option-array-index="95" style="">(GMT+08:00) Perth</li>
    <li class="active-result" data-option-array-index="96" style="">(GMT+08:00) Taipei</li>
    <li class="active-result" data-option-array-index="97" style="">(GMT+08:00) Ulaanbaatar</li>
    <li class="active-result" data-option-array-index="98" style="">(GMT+08:30) Pyongyang</li>
    <li class="active-result" data-option-array-index="99" style="">(GMT+08:45) Eucla</li>
    <li class="active-result" data-option-array-index="100" style="">(GMT+09:00) Chita</li>
    <li class="active-result" data-option-array-index="101" style="">(GMT+09:00) Osaka, Sapporo, Tokyo</li>
    <li class="active-result" data-option-array-index="102" style="">(GMT+09:00) Seoul</li>
    <li class="active-result" data-option-array-index="103" style="">(GMT+09:00) Yakutsk</li>
    <li class="active-result" data-option-array-index="104" style="">(GMT+09:30) Adelaide</li>
    <li class="active-result" data-option-array-index="105" style="">(GMT+09:30) Darwin</li>
    <li class="active-result" data-option-array-index="106" style="">(GMT+10:00) Brisbane</li>
    <li class="active-result" data-option-array-index="107" style="">(GMT+10:00) Canberra, Melbourne, Sydney</li>
    <li class="active-result" data-option-array-index="108" style="">(GMT+10:00) Guam, Port Moresby</li>
    <li class="active-result" data-option-array-index="109" style="">(GMT+10:00) Hobart</li>
    <li class="active-result" data-option-array-index="110" style="">(GMT+10:00) Vladivostok</li>
    <li class="active-result" data-option-array-index="111" style="">(GMT+10:30) Lord Howe Island</li>
    <li class="active-result" data-option-array-index="112" style="">(GMT+11:00) Bougainville Island</li>
    <li class="active-result" data-option-array-index="113" style="">(GMT+11:00) Chokirdakh</li>
    <li class="active-result" data-option-array-index="114" style="">(GMT+11:00) Magadan</li>
    <li class="active-result" data-option-array-index="115" style="">(GMT+11:00) Norfolk Island</li>
    <li class="active-result" data-option-array-index="116" style="">(GMT+11:00) Sakhalin</li>
    <li class="active-result" data-option-array-index="117" style="">(GMT+11:00) Solomon Islands, New Caledonia</li>
    <li class="active-result" data-option-array-index="118" style="">(GMT+12:00) Anadyr, Petropavlovsk-Kamchatsky</li>
    <li class="active-result" data-option-array-index="119" style="">(GMT+12:00) Auckland, Wellington</li>
    <li class="active-result" data-option-array-index="120" style="">(GMT+12:00) Fiji Islands</li>
    <li class="active-result" data-option-array-index="121" style="">(GMT+12:45) Chatham Islands</li>
    <li class="active-result" data-option-array-index="122" style="">(GMT+13:00) Nuku&amp;#039;alofa</li>
    <li class="active-result" data-option-array-index="123" style="">(GMT+13:00) Samoa</li>
    <li class="active-result" data-option-array-index="124" style="">(GMT+14:00) Kiritimati Island</li>
</ul>
